@if (!isWidgetRoute()) {
  <app-header></app-header>
}

@if (isDashboard() && !supabase.userProfile()?.is_premium && !isWidgetRoute()) {
  <div class="banner-wrapper">
    <div class="premium-badge">
      <div class="badge-content">
        <span class="material-symbols-outlined lock-icon">lock</span>
        <div class="badge-text">
          <strong>Free Plan</strong>
          <span>Limited access to connections</span>
        </div>
      </div>
      <div class="divider"></div>
      <button class="upgrade-link">Upgrade</button>
    </div>
  </div>
}

<main>
  <router-outlet></router-outlet>
</main>

@if (isVisible() && !isWidgetRoute()) {
  <button (click)="scrollToTop()" class="back-to-top" type="button" aria-label="Вернуться наверх">
    <hugeicons-icon
      [icon]="ArrowIcon"
      [size]="32"
      color="#ffffff"
      [strokeWidth]="2"
    ></hugeicons-icon>
  </button>
}

@if (!isWidgetRoute()) {
  <app-footer></app-footer>
}
