<ng-template #buttonContent>
  <span *ngIf="icon" class="material-symbols-outlined">{{ icon }}</span>
  <ng-content></ng-content>
</ng-template>

<a *ngIf="link" 
   [routerLink]="link" 
   [ngClass]="getClasses()"
   class="cursor-pointer no-underline inline-flex items-center justify-center">
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</a>

<button *ngIf="!link" 
        [ngClass]="getClasses()" 
        type="button">
  <ng-container *ngTemplateOutlet="buttonContent"></ng-container>
</button>